*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Barlow";
    color: rgb(75, 75, 75);
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    font-weight: lighter;
}

p {
    font-size: 1em;
    font-weight: lighter;
}

h4 {
    text-transform: uppercase;
}

h6 {
    text-transform: uppercase;
    font-size: 1.25em;
}

span {
    font-weight: lighter;
}

/**HEADER**/

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 4em;
    line-height: 4em;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
}
.logo {
    padding-left: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.nav {
    padding-right: 1.5em;
}

.nav a {
    padding: .5em;
}

/**BODY 1**/

.start {
    display: flex;
    background-color: lightgray;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.start .image{
    width: 60%;
}

.start img {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.start .caption {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start h2, h3,.button {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.caption .button {
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    width: 70%;
}

/**Info Section**/

.info-section {
    display: flex;
    width: 100%;
}

.info-section .practice {
    width: 60%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.practice img{
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 2em;
}

.information .feature {
    display: flex;
    align-items: flex-start;
}

.information .image {
    width: 35%;
}

.image img {
    width: 100%;
}

.information .caption {
    width: 65%;
    padding-left: 5%;
    padding-right: 5%;
}

/** BODY 3 **/

.start-learning {
    background-color: lightgray;
    padding-bottom: 5%;
}
.start-learning h2 {
    text-align: center;
    padding: 5%;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courses .course {
    width: 30%;
    background-color: white;
    padding-bottom: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.course img {
    width: 100%;
}

.course .intro{
    text-transform: uppercase;
}

/** Thesis **/
.thesis-info {
    display: flex;
    width: 100%;
}
.thesis h2 {
    padding-top: 5%;
    text-align: center;
}

.video-section {
    width: 60%;
    padding-bottom: 2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 2em;
}

.video-section video {
    width: 100%;
}

